TabWidth: 4
BasedOnStyle: LLVM
Language: Cpp
Standard: c++20

UseTab: Never
IndentWidth: 4
ColumnLimit: 100

BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false
NamespaceIndentation: None

SortIncludes: true
IncludeBlocks: Regroup

ReflowComments: true
SpaceBeforeParens: ControlStatements